In [1]:
import pandas as pd
from decimal import Decimal

In [2]:
df = pd.read_excel("data_test/data_total.xlsx", dtype="str")
df

,num,name,surname,only_character_name,year,month,university_1,university_1_level,major_1,major_1_category,...,experience_num,experience,university_2_district,university_2,university_2_level,major_2,major_2_category,scholar,advance,statue
0,0000001,清流学员,银同学,Y同学,1900,1,上海财经大学,211财经,商务英语,NaN,...,7,黑蚁资本投资部/中金资本/字节销售战略部/BCGPTA/海通行研/创新工厂投资部/创业公司,美国,杜克大学,美国Top30,管理学,管理,无,正常轮次,Offer
1,0000002,清流学员,银同学,Y同学,1900,1,上海财经大学,211财经,商务英语,NaN,...,7,黑蚁资本投资部/中金资本/字节销售战略部/BCGPTA/海通行研/创新工厂投资部/创业公司,美国,哥伦比亚大学,美国Top30,公共管理-国际金融与经济政策,NaN,无,正常轮次,Offer
2,0000003,清流学员,银同学,Y同学,1900,1,上海财经大学,211财经,商务英语,NaN,...,7,黑蚁资本投资部/中金资本/字节销售战略部/BCGPTA/海通行研/创新工厂投资部/创业公司,美国,康奈尔大学,美国Top30,应用经济管理,NaN,无,正常轮次,Offer
3,0000004,清流学员,银同学,Y同学,1900,1,上海财经大学,211财经,商务英语,NaN,...,7,黑蚁资本投资部/中金资本/字节销售战略部/BCGPTA/海通行研/创新工厂投资部/创业公司,英国,伦敦商学院,英国其它,管理学,管理,无,正常轮次,Offer
4,0000005,清流学员,银同学,Y同学,1900,1,上海财经大学,211财经,商务英语,NaN,...,7,黑蚁资本投资部/中金资本/字节销售战略部/BCGPTA/海通行研/创新工厂投资部/创业公司,中国香港,香港科技大学,香港前三,管理学,管理,无,正常轮次,Offer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920,0000921,清流学员,NaN,Y同学,1900,1,西交利物浦大学,中外合办,通讯工程,NaN,...,0,NaN,美国,宾夕法尼亚大学,美国Top30,电气工程,NaN,无,正常轮次,Offer
921,0000922,清流学员,NaN,Y同学,1900,1,西交利物浦大学,中外合办,通讯工程,NaN,...,0,NaN,美国,杜克大学,美国Top30,电气工程,NaN,无,正常轮次,Offer
922,0000923,清流学员,NaN,Y同学,1900,1,西交利物浦大学,中外合办,通讯工程,NaN,...,0,NaN,美国,哥伦比亚大学,美国Top30,电气工程,NaN,无,正常轮次,Offer
923,0000924,清流学员,NaN,J同学,1900,1,宁波诺丁汉大学,中外合办,金融,金融类,...,0,NaN,英国,伦敦政治经济学院,英国G5,房地产经济与金融,NaN,无,正常轮次,Offer
924,0000925,清流学员,NaN,Y同学,1900,1,宁波诺丁汉大学,中外合办,经济学,NaN,...,0,NaN,英国,剑桥大学,英国G5,金融经济学,NaN,无,正常轮次,Offer

In [3]:
df_character = pd.read_excel("data_test/argument_and_explanation.xlsx")
df_character

,characters,chinese_internal,chinese_external,explanation,external_required,external_selected,internal_required,internal_selected
0,num,序号,序号,NaN,No,No,NaN,NaN
1,name,学员姓名,学员姓名,NaN,No,No,NaN,NaN
2,surname,学员姓氏,学员姓氏,NaN,No,No,NaN,NaN
3,only_character_name,学员简称,学员,NaN,Yes,No,NaN,NaN
4,year,结果年份,年份,NaN,No,No,NaN,NaN
5,month,结果月份,月份,NaN,No,No,NaN,NaN
6,university_1,所在学校,学校,NaN,Yes,No,NaN,NaN
7,university_1_level,所在学校分类,学校类别,NaN,Yes,No,NaN,NaN
8,major_1,所在专业,专业,NaN,Yes,No,NaN,NaN
9,major_1_category,所在专业分类,专业类别,NaN,No,No,NaN,NaN
10,gpa_standard,修改后的综合绩点,标准化绩点,NaN,Yes,No,NaN,NaN
11,gpa,绩点 OR 分数,绩点或分数,NaN,No,Yes,NaN,NaN
12,cooperation,是否中外合办,是否中外合办,NaN,Yes,No,NaN,NaN
13,cooperation_university,外方学校,外方学校,NaN,No,Yes,NaN,NaN
14,cooperation_major,外方专业,外方专业,NaN,No,No,NaN,NaN
15,cooperation_model,中外合办形式,中外合办形式,NaN,No,Yes,NaN,NaN
16,cooperation_gpa,外方绩点 OR 分数,外方绩点或分数,NaN,No,No,NaN,NaN
17,t_test,雅思 OR 托福,雅思或托福,NaN,No,Yes,NaN,NaN
18,t_score,托雅分数,托雅分数,NaN,Yes,No,NaN,NaN
19,g_test,GRE OR GMAT,GRE或GMAT,NaN,No,Yes,NaN,NaN
20,g_score,G考分数,G考分数,NaN,Yes,No,NaN,NaN
21,experience_num,实习 AND 科研段数,实习和科研段数,NaN,No,Yes,NaN,NaN
22,experience,具体经历,具体经历,NaN,No,No,NaN,NaN
23,university_2_district,申请学校地区,地区,NaN,Yes,No,NaN,NaN
24,university_2,申请学校,申请学校,NaN,Yes,No,NaN,NaN
25,university_2_level,申请学校分类,申请学校类别,NaN,No,Yes,NaN,NaN
26,major_2,申请专业,申请专业,NaN,Yes,No,NaN,NaN
27,major_2_category,申请专业分类,申请专业类别,NaN,No,Yes,NaN,NaN
28,scholar,奖学金,奖学金,NaN,No,Yes,NaN,NaN
29,advance,是否提前批,是否提前批,NaN,Yes,No,NaN,NaN
30,statue,申请结果,申请结果,NaN,No,No,NaN,NaN

In [4]:
# 转换读取数据的数据格式
df["gpa_standard"] = df["gpa_standard"].astype(float)
df["gpa_standard"] = df["gpa_standard"].round(2)

df["experience_num"] = df["experience_num"].astype(int)

df["t_score"] = df["t_score"].replace("无语言", "0")
df["t_score"] = df["t_score"].astype(float)
df["t_score"] = df["t_score"].round(1)

df["g_score"] = df["g_score"].replace("无G", "0")
df["g_score"] = df["g_score"].astype(int)

In [5]:
import pandas as pd

# 假设这是你的数据框
data = {'column_name': ['apple', 'banana', 'apple', 'orange', 'banana', 'apple', 'kiwi']}
df = pd.DataFrame(data)

# 计算每个字符串的频数，并按频数降序排序
frequency_df = df['column_name'].value_counts().reset_index()
frequency_df.columns = ['string', 'frequency']
frequency_df = frequency_df.sort_values(by='frequency', ascending=False).reset_index(drop=True)

# 找到'target_string'所在的索引
target_string = 'ot'
target_index = frequency_df.index[frequency_df['string'] == target_string].tolist()

# 计算'target_string'之后所有字符串的频数和
if target_index:
    total_frequency_after_target = frequency_df.loc[target_index[0] + 1:, 'frequency'].sum()
else:
    total_frequency_after_target = 0

print(f"在 '{target_string}' 之后的所有字符串的频数总和是: {total_frequency_after_target}")

在 'ot' 之后的所有字符串的频数总和是: 0

In [9]:
x = -2
x = 0 if x <=0 else x
x

0